//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 01 21:23:29 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "vga_G" LOCATE = SITE "P22" LEVEL 1;
COMP "vga_B" LOCATE = SITE "P17" LEVEL 1;
COMP "vga_R" LOCATE = SITE "P24" LEVEL 1;
COMP "vga_h_sync" LOCATE = SITE "P15" LEVEL 1;
COMP "vga_v_sync" LOCATE = SITE "P12" LEVEL 1;
TIMEGRP clk = BEL "vga_G" BEL "tiles/tilea/bram/address_reg_5" BEL
        "tiles/tilea/bram/address_reg_4" BEL "tiles/tilea/bram/address_reg_3"
        BEL "tiles/tilea/bram/address_reg_2" BEL
        "tiles/tilea/bram/address_reg_1" BEL "tiles/tilea/bram/address_reg_0"
        BEL "tiles/tileb/bram/address_reg_5" BEL
        "tiles/tileb/bram/address_reg_4" BEL "tiles/tileb/bram/address_reg_3"
        BEL "tiles/tileb/bram/address_reg_2" BEL
        "tiles/tileb/bram/address_reg_1" BEL "tiles/tileb/bram/address_reg_0"
        BEL "tiles/tilec/bram/address_reg_5" BEL
        "tiles/tilec/bram/address_reg_4" BEL "tiles/tilec/bram/address_reg_3"
        BEL "tiles/tilec/bram/address_reg_2" BEL
        "tiles/tilec/bram/address_reg_1" BEL "tiles/tilec/bram/address_reg_0"
        BEL "tiles/tiled/bram/address_reg_5" BEL
        "tiles/tiled/bram/address_reg_4" BEL "tiles/tiled/bram/address_reg_3"
        BEL "tiles/tiled/bram/address_reg_2" BEL
        "tiles/tiled/bram/address_reg_1" BEL "tiles/tiled/bram/address_reg_0"
        BEL "tiles/tilee/bram/address_reg_5" BEL
        "tiles/tilee/bram/address_reg_4" BEL "tiles/tilee/bram/address_reg_3"
        BEL "tiles/tilee/bram/address_reg_2" BEL
        "tiles/tilee/bram/address_reg_1" BEL "tiles/tilee/bram/address_reg_0"
        BEL "syncgen/vga_VS" BEL "syncgen/vga_HS" BEL "syncgen/inDisplayArea"
        BEL "syncgen/CounterX_0" BEL "syncgen/CounterX_1" BEL
        "syncgen/CounterX_2" BEL "syncgen/CounterX_3" BEL "syncgen/CounterX_4"
        BEL "syncgen/CounterX_5" BEL "syncgen/CounterX_6" BEL
        "syncgen/CounterX_7" BEL "syncgen/CounterX_8" BEL "syncgen/CounterX_9"
        BEL "syncgen/CounterX_10" BEL "syncgen/CounterY_0" BEL
        "syncgen/CounterY_1" BEL "syncgen/CounterY_2" BEL "syncgen/CounterY_3"
        BEL "syncgen/CounterY_4" BEL "syncgen/CounterY_5" BEL
        "syncgen/CounterY_6" BEL "syncgen/CounterY_7" BEL "syncgen/CounterY_8"
        BEL "syncgen/CounterX_3_1" BEL "syncgen/CounterX_2_1" BEL
        "syncgen/CounterX_0_1" BEL "syncgen/CounterX_3_2" BEL
        "syncgen/CounterX_4_1" BEL "syncgen/CounterX_2_2" BEL
        "syncgen/CounterX_3_3" BEL "syncgen/CounterX_0_2" BEL
        "syncgen/CounterX_1_1" BEL "syncgen/CounterX_4_2" BEL
        "syncgen/CounterX_4_3" BEL "syncgen/CounterX_4_4" BEL
        "syncgen/CounterX_1_2" BEL "syncgen/CounterX_2_3" BEL
        "syncgen/CounterX_2_4" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 25 MHz HIGH 50%;
SCHEMATIC END;

